In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_news_7y = pd.read_csv('news_20151114_drop_prep.csv')
df_news_10y = pd.read_csv('news_20080401.csv')
df_news_1y = pd.read_csv('news_20180701.csv')

In [34]:
df_retry2 = pd.read_csv('retry_url_080401~151115.csv')
df_retry1 = pd.read_csv('retry_url_151115~221115.csv')

In [10]:
df_retry2.fillna('', inplace=True)
df_retry2

,url,url2,url3,url4,date
0,https://www.edaily.co.kr/,20080411,,,
1,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:,a:all&mynews=1&start=1&refresh_start=0,20080407,
2,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:from20080407to20080407,a:all&start=11,20080407,
3,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:from20080408to20080408,a:all&start=11,20080408,
4,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:from20080403to20080403,a:all&start=21,20080403,
...,...,...,...,...,...
8964,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,
8965,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,
8966,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,
8967,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,
8968,https://www.yna.co.kr/view/GYH2019092600110004...,20190926,,,

In [12]:
df_retry2['date_prep'] = ''
df_retry2['url_prep'] = ''
for idx in df_retry2.index:
    temp_url = ''
    for col in df_retry2.columns[:5] :
        temp = df_retry2.loc[idx, col]
        if temp != '' :
            try:
                df_retry2.loc[idx, 'date_prep'] = int(temp)
            except:
                temp_url += df_retry2.loc[idx, col]
    df_retry2.loc[idx, 'url_prep'] = temp_url
df_retry2

,url,url2,url3,url4,date,date_prep,url_prep
0,https://www.edaily.co.kr/,20080411,,,,20080411,https://www.edaily.co.kr/
1,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:,a:all&mynews=1&start=1&refresh_start=0,20080407,,20080407,https://m.edaily.co.kr/news/read?mediaCodeNo=2...
2,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:from20080407to20080407,a:all&start=11,20080407,,20080407,https://m.edaily.co.kr/news/read?mediaCodeNo=2...
3,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:from20080408to20080408,a:all&start=11,20080408,,20080408,https://m.edaily.co.kr/news/read?mediaCodeNo=2...
4,https://m.edaily.co.kr/news/read?mediaCodeNo=2...,p:from20080403to20080403,a:all&start=21,20080403,,20080403,https://m.edaily.co.kr/news/read?mediaCodeNo=2...
...,...,...,...,...,...,...,...
8964,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,,20190923,https://news.einfomax.co.kr/news/articleView.h...
8965,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,,20190923,https://news.einfomax.co.kr/news/articleView.h...
8966,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,,20190923,https://news.einfomax.co.kr/news/articleView.h...
8967,https://news.einfomax.co.kr/news/articleView.h...,20190923,,,,20190923,https://news.einfomax.co.kr/news/articleView.h...
8968,https://www.yna.co.kr/view/GYH2019092600110004...,20190926,,,,20190926,https://www.yna.co.kr/view/GYH2019092600110004...

In [26]:
df_retry2_prep = df_retry2[['url_prep' ,'date_prep']]
df_retry2_prep.columns = ['url', 'date']
df_retry2_prep

                                                    url      date
0                             https://www.edaily.co.kr/  20080411
1     https://m.edaily.co.kr/news/read?mediaCodeNo=2...  20080407
2     https://m.edaily.co.kr/news/read?mediaCodeNo=2...  20080407
3     https://m.edaily.co.kr/news/read?mediaCodeNo=2...  20080408
4     https://m.edaily.co.kr/news/read?mediaCodeNo=2...  20080403
...                                                 ...       ...
8964  https://news.einfomax.co.kr/news/articleView.h...  20190923
8965  https://news.einfomax.co.kr/news/articleView.h...  20190923
8966  https://news.einfomax.co.kr/news/articleView.h...  20190923
8967  https://news.einfomax.co.kr/news/articleView.h...  20190923
8968  https://www.yna.co.kr/view/GYH2019092600110004...  20190926

[8969 rows x 2 columns]

In [37]:
df_retry1.columns = ['url', 'date']
df_retry1

                                                    url      date
0     https://news.einfomax.co.kr/news/articleView.h...  20151119
1     https://news.einfomax.co.kr/news/articleView.h...  20151119
2     https://news.einfomax.co.kr/news/articleView.h...  20151119
3     https://news.einfomax.co.kr/news/articleView.h...  20151119
4     https://www.edaily.co.kr/news/read?newsId=0297...  20151126
...                                                 ...       ...
4713  https://news.einfomax.co.kr/news/articleView.h...  20221114
4714  https://news.einfomax.co.kr/news/articleView.h...  20221114
4715  https://news.einfomax.co.kr/news/articleView.h...  20221114
4716  https://news.einfomax.co.kr/news/articleView.h...  20221114
4717  https://news.einfomax.co.kr/news/articleView.h...  20221114

[4718 rows x 2 columns]

In [39]:
df_retry_total = pd.concat([df_retry1, df_retry2_prep], axis=0)
df_retry_total

                                                    url      date
0     https://news.einfomax.co.kr/news/articleView.h...  20151119
1     https://news.einfomax.co.kr/news/articleView.h...  20151119
2     https://news.einfomax.co.kr/news/articleView.h...  20151119
3     https://news.einfomax.co.kr/news/articleView.h...  20151119
4     https://www.edaily.co.kr/news/read?newsId=0297...  20151126
...                                                 ...       ...
8964  https://news.einfomax.co.kr/news/articleView.h...  20190923
8965  https://news.einfomax.co.kr/news/articleView.h...  20190923
8966  https://news.einfomax.co.kr/news/articleView.h...  20190923
8967  https://news.einfomax.co.kr/news/articleView.h...  20190923
8968  https://www.yna.co.kr/view/GYH2019092600110004...  20190926

[13687 rows x 2 columns]

In [40]:
df_retry_total = df_retry_total.reset_index(drop=True)
df_retry_total

                                                     url      date
0      https://news.einfomax.co.kr/news/articleView.h...  20151119
1      https://news.einfomax.co.kr/news/articleView.h...  20151119
2      https://news.einfomax.co.kr/news/articleView.h...  20151119
3      https://news.einfomax.co.kr/news/articleView.h...  20151119
4      https://www.edaily.co.kr/news/read?newsId=0297...  20151126
...                                                  ...       ...
13682  https://news.einfomax.co.kr/news/articleView.h...  20190923
13683  https://news.einfomax.co.kr/news/articleView.h...  20190923
13684  https://news.einfomax.co.kr/news/articleView.h...  20190923
13685  https://news.einfomax.co.kr/news/articleView.h...  20190923
13686  https://www.yna.co.kr/view/GYH2019092600110004...  20190926

[13687 rows x 2 columns]

In [41]:
df_retry_total.to_csv('retry_url_total.csv', index=False)

In [3]:
df_news_7y

,media,date,url,content
0,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"로벌증시, 파리테러로 불안심리 고조안전자산 선호 확대서울연합인포맥스 문정현 기자 ..."
1,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"융 금리인상, 미국 시장지표는 가능성 낮게 반영서울연합인포맥스 이호 기자 미국 연..."
2,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"권시장 파리 테러, 안전선호는 금리인상할 것서울연합인포맥스 전소영 강수지 기자 프..."
3,연합뉴스,20151115,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,년 물가상승률 1대 전망디플레 우려 완화될까세종연합뉴스 이상원 김동호 박초롱 김수현...
4,연합뉴스,20151115,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,파리 테러 국내 증시 파장은악재지만 영향은 제한적서울연합뉴스 임수정 기자 미국 금...
...,...,...,...,...
183410,이데일리,20221114,http://www.edaily.co.kr/news/newspath.asp?news...,재건축재개발 대못 모두 뽑힌다수도권 뉴타운목동 눈여겨보라이데일리 오희나 기자 정부가...
183411,이데일리,20221114,http://www.edaily.co.kr/news/newspath.asp?news...,샤갈백남준도 천원 조각투자블루칩 미술품 장기투자 기회이데일리 양지윤 기자 미술품 투...
183412,이데일리,20221114,http://www.edaily.co.kr/news/newspath.asp?news...,"안한 시장, 위기를 기회로...돈이 보이는 재테크를 찾는다이데일리 전선형 기자 부동..."
183413,이데일리,20221114,http://www.edaily.co.kr/news/newspath.asp?news...,"저평가 코스피, 침체 탈출 보인다이데일리 유준하 기자 지금은 금리가 높아 채권 투자..."
183414,이데일리,20221114,http://www.edaily.co.kr/news/newspath.asp?news...,국제금융 전문가 오건영 영원한 유망자산은 없다분산투자 눈 떠야이데일리 정두리 기자 ...

In [4]:
df_news_10y

,media,date,url,content
0,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"금융 새상품 하나, 행장 취임기념 예금 특판서울연합뉴스 황희경 기자 하나은행은 1..."
1,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,금융 새상품 기업 아이플랜 직장인 신용대출서울연합뉴스 황희경 기자 기업은행0241...
2,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"은행권, 수신 급증..펀드잔액은 급감서울연합뉴스 조재영 기자 올 들어 은행권의 수..."
3,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"전북, 부안 현대저축 예금담보 대출전주연합뉴스 백도인 기자 전북은행006350은 ..."
4,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,증시 이틀째 폭락상하이연합뉴스 진병태 특파원 중국 증시가 이틀째 폭락하면서 상하이...
...,...,...,...,...
204536,연합뉴스,20180711,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,"경남은행, 금리 부당산출 책임져라시민단체 집단소송 나서창원연합뉴스 박정헌 기자 경..."
204537,이데일리,20180711,http://www.edaily.co.kr/news/newspath.asp?news...,불안한 경제 그대로 투영된 혼돈의 금융시장종합이데일리 김정남 기자 국내외 금융시장...
204538,연합뉴스,20180711,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,"금융위, 가계대출에 불이익 주는 은행감독규정 의결금융위, 가계대출에 불이익 주는 은..."
204539,연합뉴스,20180711,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,"시민단체, 금리 부당산출 경남은행 상대 집단소송 나서종합창원연합뉴스 박정헌 기자 ..."
204540,연합인포맥스,20180709,http://news.einfomax.co.kr/news/articleView.ht...,"도쿄환시 엔화, 서 위험 선호 심리에 소폭 하락서울연합인포맥스 윤영숙 기자 엔화가..."

In [5]:
df_news_1y

,media,date,url,content
0,이데일리,20180705,http://www.edaily.co.kr/news/newspath.asp?news...,7월 한국은행 금통위 전문가별 전망은2이데일리 김정현 기자 다음은 7월 한국은행 금...
1,연합뉴스,20180702,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,"뉴욕증시, 자동차 관세 현실화 우려 하락 출발뉴욕연합뉴스 오진우 연합인포맥스 특파원..."
2,연합인포맥스,20180707,http://news.einfomax.co.kr/news/articleView.ht...,"뉴욕채권 미 국채가, 고용지표 상승30년 수익률 1월 이후 최저뉴욕연합인포맥스 곽세..."
3,이데일리,20180703,http://www.edaily.co.kr/news/newspath.asp?news...,신흥국 위기 확산하나인도인니 통화가치 급락이데일리 김정현 기자 신흥국 위기가 아시아...
4,연합뉴스,20180703,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,풍선효과 차단 제2금융권 대출 억제책 줄줄이 가동서울연합뉴스 박용주 기자 제2금융...
...,...,...,...,...
30252,이데일리,20190924,http://www.edaily.co.kr/news/newspath.asp?news...,안심전환대출 연 1.852.2 확정10월 보금자리론 금리 동결이데일리 장순원 기자 ...
30253,연합인포맥스,20190923,http://news.einfomax.co.kr/news/articleView.ht...,중국증시주간 무역 불안 재고조에 약세 우려서울연합인포맥스 윤정원 기자 이번 주23...
30254,이데일리,20190925,http://www.edaily.co.kr/news/newspath.asp?news...,국내 8대 증권사 해외대체투자 14조 못 판 물량 쌓여 유동성 위험 경고이데일리 김...
30255,연합인포맥스,20190923,http://news.einfomax.co.kr/news/articleView.ht...,전소영의 채권분석 분기말만 아니었다면 더 좋을 법한 재료들서울연합인포맥스 23일 서...
30256,연합뉴스,20190926,http://yna.kr/AKR20190926183500009?did=1195m,"뉴욕증시, 무역협상 기대에도 정국 불안 하락 출발뉴욕연합뉴스 오진우 연합인포맥스 특..."

In [28]:
df_news_total = pd.concat([df_news_7y, df_news_10y, df_news_1y], axis=0)
df_news_total = df_news_total.reset_index(drop=True)
df_news_total

,media,date,url,content
0,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"로벌증시, 파리테러로 불안심리 고조안전자산 선호 확대서울연합인포맥스 문정현 기자 ..."
1,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"융 금리인상, 미국 시장지표는 가능성 낮게 반영서울연합인포맥스 이호 기자 미국 연..."
2,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"권시장 파리 테러, 안전선호는 금리인상할 것서울연합인포맥스 전소영 강수지 기자 프..."
3,연합뉴스,20151115,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,년 물가상승률 1대 전망디플레 우려 완화될까세종연합뉴스 이상원 김동호 박초롱 김수현...
4,연합뉴스,20151115,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,파리 테러 국내 증시 파장은악재지만 영향은 제한적서울연합뉴스 임수정 기자 미국 금...
...,...,...,...,...
418208,이데일리,20190924,http://www.edaily.co.kr/news/newspath.asp?news...,안심전환대출 연 1.852.2 확정10월 보금자리론 금리 동결이데일리 장순원 기자 ...
418209,연합인포맥스,20190923,http://news.einfomax.co.kr/news/articleView.ht...,중국증시주간 무역 불안 재고조에 약세 우려서울연합인포맥스 윤정원 기자 이번 주23...
418210,이데일리,20190925,http://www.edaily.co.kr/news/newspath.asp?news...,국내 8대 증권사 해외대체투자 14조 못 판 물량 쌓여 유동성 위험 경고이데일리 김...
418211,연합인포맥스,20190923,http://news.einfomax.co.kr/news/articleView.ht...,전소영의 채권분석 분기말만 아니었다면 더 좋을 법한 재료들서울연합인포맥스 23일 서...
418212,연합뉴스,20190926,http://yna.kr/AKR20190926183500009?did=1195m,"뉴욕증시, 무역협상 기대에도 정국 불안 하락 출발뉴욕연합뉴스 오진우 연합인포맥스 특..."

In [29]:
drop_list = []
for idx in df_news_total.index :
    temp_date = df_news_total.loc[idx, 'date']
    if temp_date == 'date' :
        print(idx)
        drop_list.append(idx)
print(drop_list)
df_news_total = df_news_total.drop(drop_list)
df_news_total

387325
387578
[387325, 387578]

,media,date,url,content
0,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"로벌증시, 파리테러로 불안심리 고조안전자산 선호 확대서울연합인포맥스 문정현 기자 ..."
1,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"융 금리인상, 미국 시장지표는 가능성 낮게 반영서울연합인포맥스 이호 기자 미국 연..."
2,연합인포맥스,20151115,http://news.einfomax.co.kr/news/articleView.ht...,"권시장 파리 테러, 안전선호는 금리인상할 것서울연합인포맥스 전소영 강수지 기자 프..."
3,연합뉴스,20151115,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,년 물가상승률 1대 전망디플레 우려 완화될까세종연합뉴스 이상원 김동호 박초롱 김수현...
4,연합뉴스,20151115,http://app.yonhapnews.co.kr/YNA/Basic/SNS/r.as...,파리 테러 국내 증시 파장은악재지만 영향은 제한적서울연합뉴스 임수정 기자 미국 금...
...,...,...,...,...
418208,이데일리,20190924,http://www.edaily.co.kr/news/newspath.asp?news...,안심전환대출 연 1.852.2 확정10월 보금자리론 금리 동결이데일리 장순원 기자 ...
418209,연합인포맥스,20190923,http://news.einfomax.co.kr/news/articleView.ht...,중국증시주간 무역 불안 재고조에 약세 우려서울연합인포맥스 윤정원 기자 이번 주23...
418210,이데일리,20190925,http://www.edaily.co.kr/news/newspath.asp?news...,국내 8대 증권사 해외대체투자 14조 못 판 물량 쌓여 유동성 위험 경고이데일리 김...
418211,연합인포맥스,20190923,http://news.einfomax.co.kr/news/articleView.ht...,전소영의 채권분석 분기말만 아니었다면 더 좋을 법한 재료들서울연합인포맥스 23일 서...
418212,연합뉴스,20190926,http://yna.kr/AKR20190926183500009?did=1195m,"뉴욕증시, 무역협상 기대에도 정국 불안 하락 출발뉴욕연합뉴스 오진우 연합인포맥스 특..."

In [30]:
df_news_total['date'] = df_news_total['date'].astype('int')
df_news_total = df_news_total.drop_duplicates(subset=['url'])
df_news_total = df_news_total.drop_duplicates(subset=['content'])
df_news_total = df_news_total.sort_values(by=['date', 'media'])
df_news_total = df_news_total.reset_index(drop=True)
df_news_total

,media,date,url,content
0,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"금융 새상품 하나, 행장 취임기념 예금 특판서울연합뉴스 황희경 기자 하나은행은 1..."
1,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,금융 새상품 기업 아이플랜 직장인 신용대출서울연합뉴스 황희경 기자 기업은행0241...
2,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"은행권, 수신 급증..펀드잔액은 급감서울연합뉴스 조재영 기자 올 들어 은행권의 수..."
3,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"전북, 부안 현대저축 예금담보 대출전주연합뉴스 백도인 기자 전북은행006350은 ..."
4,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,증시 이틀째 폭락상하이연합뉴스 진병태 특파원 중국 증시가 이틀째 폭락하면서 상하이...
...,...,...,...,...
313577,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,"달러 속 위험회피환율, 1320원대 추가 상승 시도외환브리핑이데일리 이윤화 기자 원..."
313578,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,담대 8시대 임박...10월 코픽스 3.98 역대 최고이데일리 전선형 기자 10월 ...
313579,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,삼모 교수 급격한 긴축에 원화 기치 저평가 심화통화스와프 확대 해야이데일리 이윤화...
313580,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,마켓인타이틀이 발목밸류 뚝에 골머리 앓는 유니콘이데일리 김연지 기자 지난해 미국에...
313581,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,마켓인침체기에 빛난 존재감글로벌 사수 대작전이데일리 김성훈 기자 투자심리 악화로...

In [31]:
df_news_total['content_len'] = df_news_total['content'].apply(len)
df_news_total

,media,date,url,content,content_len
0,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"금융 새상품 하나, 행장 취임기념 예금 특판서울연합뉴스 황희경 기자 하나은행은 1...",511
1,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,금융 새상품 기업 아이플랜 직장인 신용대출서울연합뉴스 황희경 기자 기업은행0241...,848
2,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"은행권, 수신 급증..펀드잔액은 급감서울연합뉴스 조재영 기자 올 들어 은행권의 수...",1499
3,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"전북, 부안 현대저축 예금담보 대출전주연합뉴스 백도인 기자 전북은행006350은 ...",259
4,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,증시 이틀째 폭락상하이연합뉴스 진병태 특파원 중국 증시가 이틀째 폭락하면서 상하이...,540
...,...,...,...,...,...
313577,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,"달러 속 위험회피환율, 1320원대 추가 상승 시도외환브리핑이데일리 이윤화 기자 원...",1270
313578,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,담대 8시대 임박...10월 코픽스 3.98 역대 최고이데일리 전선형 기자 10월 ...,1068
313579,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,삼모 교수 급격한 긴축에 원화 기치 저평가 심화통화스와프 확대 해야이데일리 이윤화...,1963
313580,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,마켓인타이틀이 발목밸류 뚝에 골머리 앓는 유니콘이데일리 김연지 기자 지난해 미국에...,1358
313581,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,마켓인침체기에 빛난 존재감글로벌 사수 대작전이데일리 김성훈 기자 투자심리 악화로...,2761

In [36]:
df_news_total_up150 = df_news_total[df_news_total['content_len'] > 150]
df_news_total_up150 = df_news_total_up150.reset_index(drop=True)
df_news_total_up150.to_csv('naver_news_scrapy_total_prep.csv', index=False)
df_news_total_up150

,media,date,url,content,content_len
0,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"금융 새상품 하나, 행장 취임기념 예금 특판서울연합뉴스 황희경 기자 하나은행은 1...",511
1,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,금융 새상품 기업 아이플랜 직장인 신용대출서울연합뉴스 황희경 기자 기업은행0241...,848
2,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"은행권, 수신 급증..펀드잔액은 급감서울연합뉴스 조재영 기자 올 들어 은행권의 수...",1499
3,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,"전북, 부안 현대저축 예금담보 대출전주연합뉴스 백도인 기자 전북은행006350은 ...",259
4,연합뉴스,20080401,https://n.news.naver.com/mnews/article/001/000...,증시 이틀째 폭락상하이연합뉴스 진병태 특파원 중국 증시가 이틀째 폭락하면서 상하이...,540
...,...,...,...,...,...
305824,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,"달러 속 위험회피환율, 1320원대 추가 상승 시도외환브리핑이데일리 이윤화 기자 원...",1270
305825,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,담대 8시대 임박...10월 코픽스 3.98 역대 최고이데일리 전선형 기자 10월 ...,1068
305826,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,삼모 교수 급격한 긴축에 원화 기치 저평가 심화통화스와프 확대 해야이데일리 이윤화...,1963
305827,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,마켓인타이틀이 발목밸류 뚝에 골머리 앓는 유니콘이데일리 김연지 기자 지난해 미국에...,1358
305828,이데일리,20221115,http://www.edaily.co.kr/news/newspath.asp?news...,마켓인침체기에 빛난 존재감글로벌 사수 대작전이데일리 김성훈 기자 투자심리 악화로...,2761